body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Poppins', sans-serif; font-weight: 700;
    font-size: 50px;
}

#navbar {
    font-size: 15px;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
}

.navbar .nav-link {
    color:#ffffff;
    font-weight: 400px;
}

.navbar .nav-link:hover {
    color:#a5a5a5
}

#info-iconos {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#info-iconos i {
    color:#ffff;
    font-size: 20px;
    cursor:pointer;

}
.dropdown-menu{
    background-color: rgba(0,0,0,0.8);
}

.dropdown-menu .dropdown-item{
    color:#c8c8c8;
}

#hero {
height: 100vh; 
align-items: center;
justify-content: center;
text-align: center;
font-size: 30px;
}

#hero h1 {
font-size: 140px ;
}

#hero p {
font-size: 25px;
text-align:justify;
}

.numeros-fondo {
    background-color: #150000f8;
    padding: 70px 0;   
    text-align: center;
}

.numeros{
    font-family: 'Poppins', bold;
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 2px;
}

.letras-gris{
    font-family: 'Poppins';
    font-size: 15px;
    color: #a7a7a7ba;
    margin-top: 0px;
}